body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.alt {
  background: beige;
  background-image: url("../images/gmkolivia.jpg");
  background-size: 1000px 600px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.boom {
  /* background-image: url("../images/lily58.jpg"); */
  /* filter: blur(4px);  */
  background: beige;
  background-size: 1000px 750px;
  background-position: right;
  background-size: 70px 60x;
  background-repeat: no-repeat;
  height: 100%;
  /* position: absolute;
      top: 50px;
      border: 3px solid green; */
}

.all {
  /* display:none; */
  background-image: url("../images/checkerboard-cross.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 700px 600x;
  height: 100%;
}

.form-group {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-group0 {
  font-size: 35px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.butt {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.but {
  margin: auto;
  width: 50%;
  padding: 10px;
}