<div class="alt">
     <h6>Welcome to Show Your Keyboard, all Keyboards are appreciated here.</h6>

    <link rel="stylesheet" href="/css/style.css">


</div>
<footer class="blockquote-footer">
    <cite title="Source Title">@2021</cite>      
</footer>